[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
pymupdf = "*"
langchain-community = "*"
chromadb = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.12"
